.top{
    &__container{
        max-width: 1700px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 120px 0 130px;
        text-align: center;
    }
}