html,
body{
    height: 100%;
}

body{
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-500;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-500;
}

.title{
    text-align: center;
    @extend %roboto-700;
    font-size: 48px;
    line-height: 65px;
    color: $title;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.text{
    text-align: center;
    max-width: 571px;
    margin: 0 auto 55px;
}