html,
body{
    height: 100%;
}

body{
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-500;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-500;
}

.title{
    text-align: center;
    @extend %roboto-700;
    font-size: 48px;
    line-height: 65px;
    color: $title;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.text{
    text-align: center;
    max-width: 571px;
    margin: 0 auto 55px;
}

.header--404-page{
    background-color: $bg;
}

.breadcrumbs{
    display: inline-flex;
    justify-content: center;
    padding-left: 25px;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        background-image: url(../images/icons/home_icon.svg);
        width: 16px;
        height: 16px;
        left: 0;
        top: 4px;
    }
    &__list{
        display: flex;
    }
    &__item{
        color: #727272;
        padding-right: 40px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url(../images/icons/angle_right.svg);
            width: 9px;
            height: 10px;
            right: 15px;
            top: 9px;
        }
        &:last-child{
            color: $accent;
            padding-right: 0;
            &::after{
                display: none;
            }
        }
    }
    &__link{
        color: inherit;
    }
    
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    .pagination__list{
        display: flex;
        padding: 0 35px;
    }
    &__item{
        padding: 0 15px;
    }
    &__link--active{
        color: $accent
    }
    &__arrows{
        text-transform: uppercase;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 5px;
            height: 10px;
            top: 10px;
        }
    }
    &__prev{
        padding-left: 15px;
        &::before{
            background-image: url(../images/icons/angle_left.svg);
            left: 0;
        }
    }
    &__next{
        padding-right: 15px;
        &::before{
            background-image: url(../images/icons/angle_right-pag.svg);
            right: 0;
        }
    }
}

@media (max-width: 620px){
    .title{
        font-size: 40px;
        line-height: 48px;
    }
}


@media (max-width: 375px){
    .title{
        font-size: 32px;
        line-height: 40px;
    }
}