$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;


%quicksand-400{
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
}

%quicksand-500{
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
}

%roboto-400{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%roboto-500{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%roboto-700{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}