@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    padding: 40px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        padding-bottom: 0 2px 1px;
        color: $title;
        transition: all .3s;
        @extend %roboto-500;
        &:hover{
            @extend %roboto-700;
            color: $accent;
            border-bottom: 1px solid $accent;
        }
    }
    &__list-link--active{
        @extend %roboto-700;
        color: $accent;
        border-bottom: 1px solid $accent;
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        padding-left: 25px;
    }
    &__num{
        font-size: 12px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -9px;
        right: -14px;
        z-index: 1;
        color: white;
        background-color: $accent;
        border-radius: 50%;
        line-height: 20px;
        text-align: center
    }
}

.footer{
    background-color: $bg;
    padding: 70px 0 30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    &__contact{
        width: 250px;
        margin-right: 50px;
    }
    &__nav{
        width: 170px;
        margin-right: 30px;
    }
    &__item-form{
        max-width: 470px;
    }
    &__logo{
        display: block;
        margin-bottom: 35px;
    }
    &__adress,
    &__email,
    &__phone{
        display: block;
        margin-bottom: 14px;
    }
    &__social-list{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__social-item + .footer-top__social-item{
        padding-left: 18px;
    }
    &__social-link{
        transition: all .3s;
        path{
            fill: $default;
        }
        &:hover{
            path{
                fill: $accent;
            }
        }
    }
    &__title{
        color: $default;
        @extend %roboto-500;
        font-size: 22px;
        line-height: 1;
        margin-bottom: 43px;
    }
    &__link{
        margin-bottom: 14px;
        display: block;
    }
    &__text{
        margin-bottom: 25px;
    }
    &__form-input{
        background-color: white;
        max-width: 320px;
        width: 100%;
        padding: 12px 10px 12px 15px;
        border: none;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        &::placeholder{
            color: $default;
            font-size: 16px
        }
    }
    &__form-btn{
        @extend %btn;
        cursor: pointer;
        border: none;
    }
} 

.footer-bottom{ 
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    &__accept-img{
        display: inline;
        margin-left: 25px;
        vertical-align: middle;
    }
}

.top-slider{
   background-image: url(../images/slider/top-slider-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: $bg;
   padding: 65px 0 45px;
   &__container{
        max-width: 1560px;
   }
   &__content{
        padding-left: 175px;
        padding-top: 125px;
   }
   &__item{
        display: flex !important;
        justify-content: space-between;
   }
   &__title{
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        @extend %roboto-700;
        margin-bottom: 35px;
   }
   &__text{
    margin-bottom: 55px;
    max-width: 470px;
   }
   &__link{
    @extend %btn;
    padding: 14px 36px;
   }
   .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -70px;
        li{
            padding: 0 5px;
            line-height: 0;
            button{
                padding: 0;
                font-size: 0;
                border-radius: 50%;
                background-color: transparent;
                width: 26px;
                height: 26px;
                border: 1px solid transparent;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &.slick-active{
                button{
                    border-color: $accent;
                    &::before{
                        background-color: $accent;
                    }
                }
            }
        }
   }
}


.categories-info{
    padding: 120px 0;
    background-image: url('../images/decor/categories-left.png');
    background-repeat: no-repeat;
    background-position: center left;
    &__inner{
        background-image: url('../images/decor/categories-right.png');
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.info{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    &::before,
    &::after{
        content: '';
        position: absolute;
        z-index: -1;
    }
    &::before{
        background-image: url(../images/decor/info_before.svg);
        top: -40px;
        left: -45px;
        width: 120px;
        height: 121px;
    }   
    &::after{
        background-image: url(../images/decor/info_after.svg);
        right: -23px;
        bottom: -23px;
        width: 65px;
        height: 52px;
    }    
    &__item{
        background-color: #fff;
        padding: 60px 30px;
        max-width: 370px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }
    &__item-title{
        margin: 35px 0 10px;
        color: $title;
        font-size: 22px;
        @extend %roboto-400;
    }
}

.categories{
    &__items{
        display: grid;
        min-height: 635px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item{
        padding-top: 35px;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &:nth-child(1){
            grid-row: span 2;
            .categories__item-subtitle,
            .categories__link:hover{
                color: #5800e4;
            }
        }
        &:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;
            grid-column: span 2;
            .categories__item-subtitle,
            .categories__link:hover{
                color: #fe3e57;
            }
        }
        &:nth-child(3){
            .categories__item-subtitle,
            .categories__link:hover{
                color: #ffb534;
            }
        }
        &:nth-child(4){
            .categories__item-subtitle,
            .categories__link:hover{
                color: #34c3ff;
            }
        }
    }
    &__item-subtitle{
        margin-bottom: 5px;
    }
    &__item-title{
        color: $title;
        font-size: 22px;
        margin-bottom: 16px;
    }
    &__link{
        text-transform: uppercase;
        color: $title;
        @extend %roboto-400;
    }
}

.video-fashion{
    background-color: $bg;
    background-image: url(../images/decor/pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 125px 0;
    &__inner{
        display: flex;
    }
    &__popup{
        margin-right: 60px;
        max-width: 530px;
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__content{
        max-width: 570px;
    }
    &__subtitle{
        padding-top: 75px;
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__title{
        text-align: left;
    }
    &__text{
        margin-bottom: 55px;
    }
    &__link{
        @extend %btn;
    }
}

.products{
    padding: 105px 0 120px;
    text-align: center;
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px 30px;
    }
    &__link{
        text-transform: uppercase;
        color: $title;
        display: inline-block;
        border: 1px solid $accent;
        padding: 14px 27px;
        margin-top: 55px;
    }
}

.products-item{
    text-align: center;
    max-width: 370px;
    &__img-box{
        margin-bottom: 25px;
        position: relative;
        height: 370px;
        overflow: hidden;
    }
    &__link-box{
        transition: all .3s;
        width: 220px;
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        background-color: #fff;
        margin: 0 auto;
        border-radius: 22px;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        transform: translateY(300%);
    }

    &__link--line::before,
    &__link--line::after{
        content: '';
        background-color: #ececec;
        width: 1px;
        height: 30px;
        position: absolute;
        top: 10px;
    }

    &__link--line::before{
        left: 70px;
    }

    &__link--line::after{
        right: 70px;
    }
    
    &__link{
        display: inherit;
        path{
            transition: all .3s;
        }
    }

    &__link:hover{
        path{
            fill: $accent;
        }
    }
    &__images{
        object-fit: cover;
    }
    &:hover{
        .products-item__link-box{
            transform: translateY(0);
        }
    }
    &__title{
        color: $title;
        font-size: 22px;
        padding: 15px 0 20px;
    }
    &__price{
        display: flex;
        justify-content: center;
        @extend %roboto-400;
    }
    &__new-price{
        padding: 0 12px;
        color: $title;
    }
    &__old-price{
        padding: 0 12px;
        text-decoration: line-through
    }   
    &--sale{
        .products-item__img-box::before{
            content: "SALE";
            @extend %btn;
            position: absolute;
            top: 25px;
            left: 25px;
            line-height: 1
        }
    }
}

.star{
    margin: 0 auto;
}
  
@import 'media'; 

