.promo{
    background-image: url(../images/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 150px 0 160px;
    text-align: center;
    &__inner{
        max-width: 570px;
        width: 100%;
        margin-left: auto
    }
    &__subtitle{
        color: $accent;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 10px;
    }
    &__clock{
        display: flex;
        justify-content: space-between;
        margin-top: 55px;
    }
    &__clock-item{
        background-color: #fff;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
        span{
            font-size: 48px;
            @extend %roboto-700;
            margin: 10px 0 7px;
            color: $title;
        }
    }
    &__link{
        text-transform: uppercase;
        color: $title;
        display: inline-block;
        border: 1px solid $accent;
        padding: 14px 27px;
        margin-top: 55px;
    }
}

@media (max-width: 620px){
    .promo{
        padding: 60px 0;
        &__clock{
            justify-content: center;
            flex-wrap: wrap;
        }
        &__clock-item{
            margin: 20px 35px;
        }
    }
}
@media (max-width: 450px){
    .promo{
        &__clock{
            margin-top: 30px;
        }
        &__clock-item{
            margin: 8px;
        }
        &__link{
            margin-top: 30px;
        }
    }
}