.modal{
    max-width: 570px;
    margin: 0 auto 115px;
    padding-top: 100px;
    &__links{
        text-align: center;
        margin-bottom: 40px;
    }
    &__link{
        color: #909090;
        font-size: 22px;
        @extend %roboto-400;
        text-transform: uppercase;
        margin: 0 30px;
        &--active{
            color: $accent;
        }
    }
    &__label{
        margin-bottom: 30px;
        display: block;
    }
    &__input{
        display: block;
        width: 100%;
        border: none;
        background-color: $bg;
        margin-top: 4px;
        height: 60px;
        padding: 0 15px;
    }
    &__btn{
        width: 100%;
        display: block;
        background-color: $title;
        @extend %roboto-400;
        color: #fff;
        text-transform: uppercase;
        padding: 14px 0;
        border: none;
        cursor: pointer;
    }
    &__error{
        margin-top: 12px;
        color: $accent;
        display: inline-block;
    }
    &__text{
        margin-bottom: 25px;
    }
}

@media (max-width: 375px){
    .modal__link{
        margin: 0 20px;
    }
}