<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="css/contacts.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        {% include 'app/module/_top/_top.html' %}

        <section class="contact">
            <div class="container">
                <div class="contact__inner">
                    <div class="contact__info">
                        <h3 class="contact__info-title">
                            Feel Free Don’t
                            Hesitate To
                            Contact With Us
                        </h3>
                        <p class="contact__info-text">
                            Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan lacus vel facilisis. 
                        </p>
                        <ul class="contact__info-list">
                            <li class="contact__info-item">
                                <a class="contact__info-phone" href="tel:+01234567896">+0-123-456-7896</a>
                                <a class="contact__info-phone" href="tel:+01234567896">+0-123-456-7896</a>
                            </li>
                            <li class="contact__info-item contact__info-item--location">
                                Ranlon Market 789 Road,<br>
                                Market Street, Newyork
                            </li>
                            <li class="contact__info-item contact__info-item--email">
                                <span>yourmailaddress@gmail.com</span>
                                <span>companymail@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                    <form class="contact__form" action="#">
                            <p class="contact__form-title">
                                Contact Form
                            </p>
                            <div class="contact__form-box">
                                <input class="contact__form-input" type="text" placeholder="Your Name">
                                <input class="contact__form-input" type="text" placeholder="Your E-mail Address">
                            </div>
                            <input class="contact__form-input" type="text" placeholder="Subject">
                            <textarea class="contact__form-textarea" placeholder="Message here"></textarea>
                            <button class="contact__form-btn" type="submit">SEND MESSAGE</button>
                    </form>

                </div>
            </div>
        </section>
    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>
</html>