.blog{
    padding: 50px 0 160px;
    background-image: url(../images/bg-blog.svg);
    background-repeat: no-repeat;
    background-position: center center;
    &__items{
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -20px;
            top: -25px;
            z-index: -1;
            width: 126px;
            height: 53px;
            background-image: url(../images/decor/bg-decor.svg);
        }
    }
    &__item{
        transition: all .3s;
        max-width: 370px;
        border: 1px solid #ececec;
        &:hover{
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
            border: none;
            .blog__item-link{
                color: $accent;
                &::after{
                    background-image: url(../images/icons/arrow-accent.svg);
                }
            }
        }
    }
    &__item-imglink{
        display: block;
        img{
            height: 288px;
            object-fit: cover
        }
    }
    &__item-box{
        padding: 30px 40px;
    }
    &__item-title{
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        margin-bottom: 20px;
    }
    &__item-link{
        position: relative;
        transition: all .3s;
    }
    &__item-link::after{
        content: '';
        width: 10px;
        height: 8px;
        background-image: url(../images/icons/arrow.svg);
        position: absolute;
        top: 8px;
        right: -14px;
    }
}


.blog-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &__author,
    &__date{
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 4px;
        }
    }
    &__author::before{
        background-image: url('../images/icons/user-gray.svg')   
        }
    &__date::before{
        background-image: url('../images/icons/time.svg')
    }
}

@media (max-width: 1230px){
    .blog{
        &__items{
            &::after{
                right: 8px;
            }
        }
    }
}

@media (max-width: 1200px){
    .blog{
        &__items{
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
        &__item-box{
            padding: 20px 15px;
        }
    }
}

@media (max-width: 1050px){
    .blog{
        &__items{
            grid-template-columns: repeat(2, 1fr);
        }
        &__item{
            max-width: 100%;
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px){
    .blog{
        padding: 60px 0;
        &__items{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 768px){
    .blog-box{
        display: block;
        &__date{
            margin-top: 10px;
        }
    }
    .blog{
        &__item-imglink{
            img{
                height: 220px;
            }
        }
    }
}