.categories-info{
    padding: 120px 0;
    background-image: url('../images/decor/categories-left.png');
    background-repeat: no-repeat;
    background-position: center left;
    &__inner{
        background-image: url('../images/decor/categories-right.png');
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.info{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    &::before,
    &::after{
        content: '';
        position: absolute;
        z-index: -1;
    }
    &::before{
        background-image: url(../images/decor/info_before.svg);
        top: -40px;
        left: -45px;
        width: 120px;
        height: 121px;
    }   
    &::after{
        background-image: url(../images/decor/info_after.svg);
        right: -23px;
        bottom: -23px;
        width: 65px;
        height: 52px;
    }    
    &__item{
        background-color: #fff;
        padding: 60px 30px;
        max-width: 370px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }
    &__item-title{
        margin: 35px 0 10px;
        color: $title;
        font-size: 22px;
        @extend %roboto-400;
    }
}

.categories{
    &__items{
        display: grid;
        min-height: 635px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item{
        padding-top: 35px;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &:nth-child(1){
            grid-row: span 2;
            .categories__item-subtitle,
            .categories__link:hover{
                color: #5800e4;
            }
        }
        &:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;
            grid-column: span 2;
            .categories__item-subtitle,
            .categories__link:hover{
                color: #fe3e57;
            }
        }
        &:nth-child(3){
            .categories__item-subtitle,
            .categories__link:hover{
                color: #ffb534;
            }
        }
        &:nth-child(4){
            .categories__item-subtitle,
            .categories__link:hover{
                color: #34c3ff;
            }
        }
    }
    &__item-subtitle{
        margin-bottom: 5px;
    }
    &__item-title{
        color: $title;
        font-size: 22px;
        margin-bottom: 16px;
    }
    &__link{
        text-transform: uppercase;
        color: $title;
        @extend %roboto-400;
    }
}

@media (max-width: 1230px){
    .info{
        &::after{
            right: 0;
        }
        &__item{
            width: 340px;
            padding: 20px;
        }
    }
}

@media (max-width: 1100px){
    .info{
        display: block;
        &__item{
            min-width: 100%;
            padding: 20px;
            margin-bottom: 20px;
        }
        &__item-title{
            margin: 20px 0 10px;
        }
    }
    .categories{
        &__items{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
        &__item{
            background-position: center top;
            &:nth-child(1){
                grid-row: auto;
            }
            
            &:nth-child(2){
                grid-column: auto;
                background-position: center right;
            }
        }
    }
}

@media (max-width: 768px){
    .categories{
        &__items{
            min-height: 385px;
        }
        &__item{
            background-image: none !important;
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-top: 0;
            flex-direction: column;
            &:nth-child(1){
                background-color: #f4dff0;
            }
            &:nth-child(2){
                background-color: #d7efef;
            }
            &:nth-child(3){
                background-color: #fff6a7;
            }
            &:nth-child(4){
                background-color: #ededed;
            }
        }
    }
}

@media (max-width: 620px){
    .categories{
        grid-gap: 10px;
        &__items{
            grid-template-columns: repeat(1, 1fr);
        }
        &__item{
            padding: 15px 10px;
        }
    }
    .categories-info{
        padding: 120px 0 60px;
    }
}