.video-fashion{
    background-color: $bg;
    background-image: url(../images/decor/pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 125px 0;
    &__inner{
        display: flex;
    }
    &__popup{
        margin-right: 60px;
        max-width: 530px;
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__content{
        max-width: 570px;
    }
    &__subtitle{
        padding-top: 75px;
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__title{
        text-align: left;
    }
    &__text{
        margin-bottom: 55px;
    }
    &__link{
        @extend %btn;
    }
}

@media (max-width: 1050px){
    .video-fashion{
        &__inner{
            display: block;
        }
        &__popup{
            max-width: 100%;
            background-position: center top;
        }
        &__content{
            max-width: 100%;
        }
    }
}

@media (max-width: 620px){
    .video-fashion{
        padding: 60px 0;
        &__popup{
            height: 270px;
        }
        &__subtitle{
            padding-top: 40px;
            font-size: 18px;
        }
    }
}